@model Ganges.ApplicationCore.Entities.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Seller)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dt>
    </dl>

    <p><a asp-action="Edit" asp-route-id="@Html.DisplayFor(model => model.Id)">Edit</a></p>
    <p><a asp-action="Delete" asp-route-id="@Html.DisplayFor(model => model.Id)">Delete</a></p>
</div>

