@model IEnumerable<ApplicationCore.Entities.Product>

@{
    ViewData["Title"] = "Products";
}

@section Style {
    <link rel="stylesheet" href="/css/index.css" />
}

<h1>Products</h1>

<p><a asp-action="Create">Add a product</a></p>

<div id="products">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <div>
                    <a asp-action="Details" asp-route-id="@item.ProductId"><img src="images/@Html.DisplayFor(modelItem => item.ImageUrl)" /></a>
                </div>

                <div>
                    <p id="productTitle">
                        <a asp-action="Details" asp-route-id="@item.ProductId">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    </p>
                    <p id="productSeller">Seller: @Html.DisplayFor(modelItem => item.Seller)</p>
                    <p id="productPrice">
                        <a asp-action="Details" asp-route-id="@item.ProductId">
                            £@Html.DisplayFor(modelItem => item.Price)
                        </a>
                    </p>
                    <p id="productDelivery">FREE Delivery</p>
                </div>
            </li>
        }
    </ul>
</div>