@page "/products"
@inject HttpClient Http

<h3>Products</h3>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (ApplicationCore.Entities.Product product in products)
        {
        <li>
            <div>
                <NavLink href="@($"/products/{(int)product.ProductId}")"><img src="@($"/images/{@product.ImageUrl}")" /></NavLink>
            </div>
            <div>
                <p id="productTitle"><NavLink href="@($"/products/{(int)product.ProductId}")">@product.Title</NavLink></p>
                <p id="productSeller">Seller: @product.Seller</p>
                <p id="productPrice"><NavLink href="@($"/products/{(int)product.ProductId}")">£@product.Price</NavLink></p>
                <p id="productDelivery">FREE Delivery</p>
            </div>
        </li>
        }
    </ul>
}

@code {
    private ApplicationCore.Entities.Product[] products;

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<ApplicationCore.Entities.Product[]>("api/products");
    }
}
