@model ApplicationCore.Models.Basket

@{
    ViewData["Title"] = "Basket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style {
    <link rel="stylesheet" href="/css/basket.css" />
}

<h1>Basket</h1>

<div>
    <p id="priceHeading">Price</p>
    <div id="basket">
        @foreach (var b in Model.BasketItems)
        {
            <div class="basketItem" id="basketProduct@(b.ProductId)">
                <div>
                    <img src="images/@b.Product.ImageUrl" />
                </div>
                <div>
                    <p class="productTitle"><a href="/Products/Details/@b.Product.ProductId">@b.Product.Title</a></p>
                    <p class="productSeller">Sold by: @b.Product.Seller</p>
                    <p class="productQuantity">Quantity in basket: <span id="basketProduct@(b.Product.ProductId)Quantity">@b.ProductQuantity</span></p>
                    <button type="button" onclick="RemoveProductFromBasket(@b.ProductId)">Remove</button>
                </div>
                <div>
                    <p class="productPrice">£@b.Product.Price</p>
                </div>
            </div>
        }
    </div>
    <p id="summary">Subtotal (<span id="basketTotalNumberOfProducts">@Model.CalculateTotalNumberOfProducts()</span> items): <span id="basketTotalPrice">£@Model.CalculateTotalCost()</span></p>
</div>